/* estilo titulo y del texto del formulario */

#Form {
  text-align: center;
  /* Centra horizontalmente el texto */
  display: flex;
  /* Aplica un diseño flexible para centrar verticalmente el texto */
  align-items: flex-end;
  /* Alinea el texto en la parte inferior verticalmente */
  color: #07004f;
  font-size: 5em;
  height: 400px;
  margin-top: 20px;
  text-align: center;
  background-image: url(../assets/img/medium/call-center.webp);
  background-size: cover;
  background-position: center center;
}

.texto {
  text-align: center;
}

/* Estilos del formulario de contacto */
#Formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

#Formulario div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

#Formulario label {
  font-weight: bold;
  margin-bottom: 5px;
}

#Formulario input,
#Formulario textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

#Formulario input[type="submit"] {
  background-color: #07004F;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: .5s;
}

#Formulario input[type="submit"]:hover {
  color: #07004F;
  background-color: #B7D0FF;
}

/* Estilos para los mensajes de error */
span[id$="-error"] {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {

  /* Ajuste del ancho máximo del formulario para celular */
  #Formulario {
    max-width: 100%;
    padding: 0 20px;
  }
}
/* FOOTER REDES SOCIALES */
footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
  padding: .5rem 0;
  color: white;
  background-color: #07004F;
}

.caja-logo-titulo-footer {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.logo-footer {
  height: 3rem;
}

.redes-sociales {
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: 100%;
  font-size: .7rem;
}

.logo-redes {
  font-size: 1.5rem;
}

.red-individual {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;

}

.lista-redes,
.texto-copy {
  display: flex;
  flex-direction: column;
  margin: auto .6rem;
  font-size: .7rem;
  font-weight: bolder;
}

.copy {
  display: inline-flex;
  justify-content: center;
  margin: .2rem;
  width: 100%;
  font-size: .8rem;
}


@keyframes resaltado {
  0% {
      color: #07004F;
  }

  33% {
      color: #7092d3;
  }

  100% {
      color: #07004F
  }
}

@media only screen and (max-width: 780px) {
  .container-caracteristicas {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
  }
  aside {
      width: 40%;
  }

  
  .container-caracteristicas {
      width: 60%;
  }
  .cuadritos {
      height: 5rem;
      font-size: .7rem;
      margin: .5rem auto;
  }
  .subtitulo-caracteristicas {
      font-size: .6rem;
  }
}

@media only screen and (max-width: 640px) {
  main {
      flex-direction: column;
  }

  
  .cajaLogoYTitulo {
      width: 35%;
  }

  .ulNav {
      width: 65%;
      flex-wrap: wrap;
  }

  .h1Inicio {
      margin: auto;
      font-size: 15px;

  }

  .ulNav {
      font-size: 0.6rem;
  }
  h2 {
      font-size: 1.5rem;
      margin: .3rem 0;
  }
  .plan-container {
      width: 95%;
      margin: 1rem auto;
      border-radius: 25px;
      }
  .campanhas-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 95%;
      flex-direction: row;
  }
  .campanha {
      width: 30%;
  }
  
  .subtitulo-caracteristicas {
      font-size: .5rem;
  }
  .caja-logo-titulo-footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;

  }

  .redes-sociales {
      margin: .4rem;
      width: 100%;

  }

  .titulo-plan {
      font-size: .7rem;
  }

  .red-individual {
      width: 50%;
      align-items: center;
  }

  .lista-redes,
  .texto-copy {
      font-size: .7rem;
      margin: 0;
      align-items: center;
  }

  .texto-copy {
      width: 70%;
      text-align: center;
  }

  .copy {
      margin: 1rem auto;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      font-size: .8rem;
  }

  .novedades {
      font-size: .8rem;
      width: 100%;
  }

  .titulo-campanha {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: .7rem;
  }

  .texto-campanha,
  .subtitulo-plan {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: .5rem;
  }
}

@media only screen and (max-width: 440px) {
  .h1Inicio {
      font-size: 10px;
  }

  .cajaLogoYTitulo {
      width: 40%;
  }

  .ulNav {
      width: 60%;
      flex-wrap: wrap;
  }
  
  .container-caracteristicas {
      grid-template-columns: 1fr;
  }
  .cuadritos {
      display: inline-block;
      margin: .3rem auto;
      width: 8rem;
      height: 2.2rem;
      font-size: .6rem;
  }
  .info {
      width: 100%;
      display: flex;
      justify-content: center;
  }
}