*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Contenedor */
.container{
    all: unset;
    width: 100%;
    height: 100vh;
}
/* Header */
.header{
    width: 100%;
    height: 3rem;
    background-color: rgb(109, 214, 39);
    padding: 0.5rem 1rem;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.cajaLogoYTitulo{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.logoNav{
    width: 30px;
}
.h1Inicio{
    font-size: 20px;
}

.ulNav{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0 0 0 5rem;
    margin: 0 auto;
}
.ulNav li a{
    text-decoration: none;
    color: black;
}

.mainInicio{
    width: 100%;
    min-height: 100vh;
}