* { padding: 0; margin: 0; box-sizing: border-box;}

/* FORMATO DE PLANES */
main {
   display: inline-flex;
   flex-wrap: wrap ;
}
a {
    text-decoration: none;  
}
h2 {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    font-size: 3rem;
    color: #07004F;
    transition: 1s;
}



.plan-container {
    display: flex;
    flex-wrap: wrap;
    width:70%;
    max-width: 1170px;
    margin: 2rem;
    overflow: hidden;
    border-radius: 50px;
}
aside {float: right;}
.imagen-camp {width: 100%;}

.plan-individual {
    display: flex;
    flex-direction: column;
    width: 50%;
    transition: 1s;
}
.plan-individual:hover, .campanha:hover {
    transform: scale(1.1);
}
.imagen-plan {
    width: 100%;
}

.pyoung {background-color: #100493;}
.pfamily {background-color: #0140B3;}
.pmature {background-color: #2D5EBA;}
.pcuidado {background-color: #4273CE;}

.titulo-plan {
    margin: .5rem;
}

.titulo-plan,
.subtitulo-plan {
    position: relative;
    text-align: center;
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
}

/* FORMATO DE CAMPAÑAS ASIDE */

.novedades {
    text-align: center;
    color: #07004F;
    animation: resaltado 2s linear 0s infinite normal;
}

.campanhas-container {
    width: 20%;
    float: right;
    margin: 2rem;
}
.campanha {
    margin  : 0 0 2rem 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: whitesmoke;
    text-align: center;
    font-weight: bold;
    color: #07004F;
    transition: 1s;
}

.plan-detalle-containter {
    display: table-cell;
    width: 100%;
    text-align: center;
}

/* FOOTER REDES SOCIALES */
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    padding: .5rem 0;
    color: white;
    background-color: #07004F;
}
.caja-logo-titulo-footer {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}
.logo-footer {height: 3rem;}

.redes-sociales {
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 100%;
    font-size: .7rem;
}
.logo-redes {font-size: 1.5rem;}

.red-individual {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;

}

.lista-redes, .texto-copy {
    display: flex;
    flex-direction: column;
    margin: auto .6rem;
    font-size: .7rem;
    font-weight: bolder;
}

.copy {
    display: inline-flex;
    justify-content: center;
    margin: .2rem;
    width: 100%;
    font-size: .8rem;
}


@keyframes resaltado {
    0% {
        color: #07004F;
    }
    33% {
        color: #7092d3;
    }
    100% {
        color: #07004F
    }
}

/* @media only screen and (max-width: 860px) {
    .h1Inicio { font-size: 15px;}
}
 */
@media only screen and (max-width: 640px) {
    .cajaLogoYTitulo {
        width: 35%;
    }
    .ulNav { 
        width: 65%;
        flex-wrap: wrap;
    }
    .h1Inicio{
        margin: auto;
        font-size: 15px;
        
    }
    .ulNav {
        font-size: 0.6rem;
    }
    .caja-logo-titulo-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }
    .redes-sociales {
        margin: .4rem;
        width: 100%;
        
    }
    .red-individual{
        width: 50%;
        align-items: center;
    }

    .lista-redes, .texto-copy {
        font-size: .7rem;
        margin: 0;
        align-items: center;
    }
    .texto-copy {
        width: 70%;
        text-align: center;    
    }
    .copy {
        margin: 1rem auto;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        font-size: .8rem;
    }
  }

  @media only screen and (max-width: 440px) {
    .h1Inicio { font-size: 10px;}
    .cajaLogoYTitulo {
        width: 40%;
    }
    .ulNav { 
        width: 60%;
        flex-wrap: wrap;
    }
}